h1 {color: red; 
background-color: blue;
margin: 50px;
font-size: 50px;
text-align: center;}

h2 {color: red; 
background-color: blue;
margin: 50px;
font-size: 50px;
text-align: center;}

p {color: red;
background-color: blue;}
